html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}
 
a {
  color: #0BCEAF;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}
 
h1,h2,h3,h4,h5,h6,p{
  color: #020202 !important;
} 


.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 25px;
}

.navbar-light {
  display: none;
}
.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0BCEAF;
}

.about-img{
 margin-left: -100px;
 right: -60px;
}
.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.btn-blue{
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

.progress {
  border-radius: 10px;
}
.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}


